<div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-body">
      <div class="messages-list">
        <ul>
          <% messages.each do |message| %>
              <li>
                <div class="row">
                  <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
                    <%= message.body %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</li>
