<!DOCTYPE html>
<html>
  <head>
    <title>ChatRoom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <% if current_user %>
      <ul>
        <li><a href="/session/logout">log out</a></li>
      </ul>
    <% else %>
      <ul>
        <li><a href="/session/new">Login</a></li>
        <li><a href="/users/new">Sighn up</a></li>
      </ul>
    <% end %>
    <div class="main clearfix">
      <%= yield %>
    </div>
  </body>
</html>
